$primary-grey: #b0b1b3;
$secondary-grey: #96979a;
$faded-grey: #e5e5e680;
$primary-red: #ff0000;
$primary-white: #ffffff;
$primary-off-white: #f2f2f2b3;
$primary-black: #19191a;
$secondary-black: #1d2129;
$border-grey: #e5e5e6;
